# URL e porta do Broker MQTT que a aplicação vai se conectar
MQTT_BROKER_URL=

# Tópico principal onde os eventos de telemetria dos veículos são recebidos
MQTT_TOPIC_EVENTOS=

# Tópico utilizado para envio de comandos aos rastreadores (se houver)
MQTT_TOPIC_COMMANDS=P

# Identificador único deste cliente conectado ao Broker (cuidado com IDs duplicados na mesma rede)
MQTT_CLIENT_ID=meu_identificador_avl_unico

# Credenciais de acesso ao Broker MQTT (Usuário e Senha) - NUNCA COMITE A SENHA REAL
MQTT_USERNAME=usuario_exemplo
MQTT_PASSWORD=senha_secreta_exemplo

# Porta em que o serviço BFF (backend Node.js) ficará escutando
PORT=3000

# Tempo máximo (em segundos) que a aplicação pode ficar sem receber dados antes de disparar alerta (status parado)
WATCHDOG_TIMEOUT_SEC=30

# Tolerância (em segundos) para considerar que um pacote está "Defasado"
# (diferença entre a hora de geração no equipamento e a hora de recepção no servidor)
LATENCY_TOLERANCE_SEC=5
